/* Example CSS */
.car-types-area {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin: 90px 0;
}

.button-div .car-image2 {
    max-width: 180px;
    height: auto;
    border-radius: 8px;
    transition: all ease 0.8s;
}
.car-image2:hover{
    scale: 1.5;
}
.button-div >p {
    padding: 0;
    margin: 0;
    color: #303030;
}

.active-div{
    border-bottom:rgb(169, 169, 169) ;
}
.active-div>p {
    color: #f0ad4e;
}
.active-div >img{
    scale: 1.4;
}

.button-container .car-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block: 20px;
    margin-inline: auto;
    transition: all ease-in 1s;
    max-width: 1400px;
    
    
}



/*  */
.car-card  {
    max-width: 400px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    transition: all ease 0.7s;
    box-shadow: 0 0px 10px rgba(152, 152, 152, 0.5);
    padding-block:15px ;
    animation: cars 1.2s ease-in;
    /* Default box shadow */
}

@keyframes cars {
    0% {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }

}

.car-card:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
    .car-price{
        background-color: #f0ad4e;
    }
    /* Enhanced box shadow on hover */
}

.car-image {
    width: 80%;
    display: block;
    margin-inline: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px 8px;
}

.details-container {
    padding: 16px;
}

.car-category {
    color: #f6a636;
    font-size: 12px;
    font-weight: 600;
    padding: 2px;
    margin: 0px;
}

.car-name {
    font-size: 1.3rem;
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.specs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 14px;
    border-top: 1px solid rgb(210, 210, 210);
}

.specs-container div {
    display: flex;
    align-items: center;
}

.specs-container div {
    font-size: 0.8rem;
    color: rgb(28, 28, 28);
}

.specs-container i {
    margin-right: 5px;
    color: #f0ad4e;
    font-size: 1.2rem;
}

.car-price {
    width: 95%;
    background-color: rgba(103, 241, 232, 0.2);
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.6s;

    /* Transition for background color change */
}

.car-price:hover {
    background-color: #f0ad4e;
    /* New background color on hover */
}

.reserve-button {
    display: block;
    padding: 10px 20px;
    background-color: rgb(4, 132, 17);
    width: 90%;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.reserve-button i{
    margin-right: 10px;
    font-size: 24px;
}

.reserve-button:hover {
    background-color: rgb(9, 147, 9);
}